@import url("https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: "Mulish", sans-serif;
}

/* Serviec.jsx css here*/
.media_hover:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) inset,
    3px 3px 5px rgba(0, 0, 0, 0.2);
  color: #ff0000;
  cursor: pointer;
}
.mt-0:hover {
  color: blue;
}
/*Contact.jsx css here*/
.twitter {
  background-color: #55acee;
  color: #fff;
  outline: none;
  border: none;
  padding: 6px 23px;
}
.facebook {
  background-color: #3b5999;
  color: #fff;
  outline: none;
  margin-left: 10px;
  border: none;
  padding: 6px 23px;
}
.instagram {
  background-color: rgb(233, 50, 50);
  color: #fff;
  outline: none;
  margin-left: 10px;
  border: none;
  padding: 6px 23px;
}
/* Laptop.jsx css here */
.col-md-3:hover {
  transform: translateX(px);
  transition: all 0.4s ease-in;
  cursor: pointer;
}
/* ExclusiveRef.jsx product css here*/
.offersbackground {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-width: 800px) {
  .collection {
    height: 90px;
  }
}
